<div>
  <div>
    <h2>Waiting</h2>
  </div>
  <div>
    <ul>
    <% if user_signed_in?%>
      <li><%= link_to  "Criar Fila", new_user_session_path %></li>
      <li><%= link_to  "Sair", destroy_user_session_path, data: { turbo_method: :delete} %></li>
     <% else %>
      <li><%= link_to  "Login", new_user_session_path %></li>
      <li><%= link_to  "Criar Conta", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>